---
import { Image } from "astro:assets";
import type { ProjectMetadata } from "../../lib/utils";
import GithubIcon from "../icons/GithubIcon.astro";
import NpmIcon from "../icons/NpmIcon.astro";
import PlayStoreIcon from "../icons/PlayStoreIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import ProjectHeaderLink from "./ProjectHeaderLink.astro";

type Props = {
  project: ProjectMetadata;
};
const { project: p } = Astro.props;

function formatDate(date: Date) {
  const fullDate = date.toLocaleString("en-ES", {
    day: "numeric",
    month: "long",
    year: "numeric",
  });

  return fullDate;
}
enum Icons {
  github = "github",
  npm = "npm",
  playStore = "playStore",
}
const projectButtons: {
  link: string | undefined;
  label: string;
  icon: Icons;
}[] = [
  {
    link: p.data.githubLink,
    label: "View Source",
    icon: Icons.github,
  },
  {
    link: p.data.npmLink,
    label: "Link to NPM",
    icon: Icons.npm,
  },
  {
    link: p.data.playStoreLink,
    label: "Link to Play store",
    icon: Icons.playStore,
  },
].filter((p) => Boolean(p.link));

const iconMap: Record<Icons, Function> = {
  github: GithubIcon,
  playStore: PlayStoreIcon,
  npm: NpmIcon,
};

const projectLinks = projectButtons
  .map((p) => p.link)
  .filter((value) => value !== undefined);
const lastExistingButton = projectLinks[projectLinks.length - 1];

function isLastButton(button: string) {
  if (lastExistingButton === button) {
    return true;
  }

  return false;
}
---

<header class="flex flex-col gap-1">
  <section class="flex flex-col gap-4">
    <a
      href-lang="en-us"
      title="Back to projects"
      href="/projects"
      class="text-neutral-500 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-300"
    >
      <span class="sr-only">Back to projects</span>← Back
    </a>
    <header
      class="relative flex min-h-[300px] items-end justify-between overflow-hidden rounded-t-xl md:min-h-[270px]"
      style={{
        backgroundColor: p.data.color ?? "transparent",
      }}
    >
      <div class="flex flex-col p-4 md:p-6">
        <span class="flex gap-4 overflow-hidden">
          <a
            href={p.data.link ?? ""}
            href-lang="en-us"
            target="_blank"
            rel="noopener noreferrer"
            tab-index={p.data.link ? undefined : -1}
            class={p.data.link ? "" : "pointer-events-none"}
            aria-disabled={!p.data.link}
          >
            <h1
              title="Visit Project"
              class="balance z-10 w-fit max-w-lg rounded-full p-2 font-black text-4xl text-neutral-900 tracking-tight md:text-7xl"
              style={{
                backgroundColor: p.data.color ?? "transparent",
              }}
            >
              {p.data.title}
            </h1>
          </a>
        </span>
        <div
          class="z-10 flex w-fit flex-col rounded-xl p-2 py-1 font-medium text-neutral-800 text-sm sm:font-normal md:text-lg dark:text-neutral-800"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
        >
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 16v-8h8"></path></svg
            >
            {formatDate(p.data.startedAt)}
          </span>
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 8v8h8"></path></svg
            >

            {p.data.endedAt ? formatDate(p.data.endedAt) : "In Progress"}
          </span>
        </div>
      </div>
      <Image
        style={{
          mixBlendMode: "multiply",
        }}
        title={`Cover poster for the project ${p.data.title}`}
        class="-top-16 -right-60 md:-right-40 absolute opacity-50 md:opacity-100"
        src={p.data.cover}
        priority
        loading={"eager"}
        alt={p.data.title}
        width={500}
        height={500}
      />
    </header>
  </section>
  <nav class="flex w-full flex-wrap gap-1">
    {
      p.data.link ? (
        <a
          href={p.data.link}
          href-lang="en-us"
          title="Visit Project"
          class="flex h-full flex-1 animate-expand-vertically items-center justify-center gap-2 rounded-bl-xl px-3 py-2 text-secondary-900 text-xl transition-all hover:brightness-90 sm:justify-start"
          target="_blank"
          style={{
            backgroundColor: p.data.color ?? "transparent",
          }}
          rel="noopener noreferrer"
        >
          <span class="sr-only">Link to the project</span>
          <SearchIcon width={20} height={20} />
          <span class="text-[0.8em]">Visit Project</span>
        </a>
      ) : null
    }
    {
      projectButtons.map((b) => {
        const isLast = isLastButton(b.link ?? "");
        const Icon = iconMap[b.icon];
        return (
          <ProjectHeaderLink
            label={b.label}
            isLast={isLast}
            color={p.data.color}
            link={b.link ?? ""}
          >
            {<Icon width={20} height={20} />}
          </ProjectHeaderLink>
        );
      })
    }
  </nav>
</header>
