---
import BlogLink from "../components/BlogLink.astro";
import ThreePhones from "../components/home/ThreePhones.astro";
import Header from "../components/Layout/header/header.astro";
import ProjectsList from "../components/Projects/ProjectList/ProjectsList.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getProjects } from "../lib/utils";

import { Image } from "astro:assets";
import coiae from "../assets/media/other/coiae.webp";
import exampleAnimated from "../assets/media/other/example-animated.webp";
import exampleBlog from "../assets/media/other/example-codedByPol.webp";
import exampleFlags from "../assets/media/other/example-flags.webp";
import examplePortfolio from "../assets/media/other/example-portfolio.webp";
import gymZ from "../assets/media/other/gymZ.webp";
import santJordi from "../assets/media/other/santJordi.webp";
import "../styles/cards.css";

const imagesPhones = [coiae, gymZ, santJordi];
const firstProjects = getProjects(4);
---

<MainLayout>
  <section>
    <Header />
    <main class="flex w-full flex-1 flex-col gap-8">
      <section
        class="flex flex-col gap-5 motion-preset-slide-up motion-delay-[3200ms]"
      >
        <hgroup class="balance mt-16 flex flex-col gap-5 font-medium text-3xl">
          <p>🎨👨‍💻</p>
          <h2>Pixel perfectionist, even though I work with vectors</h2>
        </hgroup>

        <p class="max-w-xl">
          My roots are in arts and design. My passion is in technology and my
          goal is to combine both in digital products that are <strong
            >beautiful</strong
          > and <strong>functional</strong>.
        </p>
      </section>
      <ThreePhones images={imagesPhones} />

      <hgroup class="balance mt-16 flex flex-col gap-5 font-medium text-3xl">
        <p>🧪🥼</p>
        <h2>Discover my latest work and projects</h2>
      </hgroup>

      <ProjectsList projects={firstProjects} />

      <BlogLink slug="/projects" name="See all my projects" />

      <div
        class="balance mt-16 flex flex-col gap-5 font-medium text-3xl motion-preset-slide-up motion-delay-[2500ms]"
      >
        <p>🥑🚀</p>
        <h2>I&apos;m a performance and accessibility advocate</h2>
      </div>
      <p class="max-w-xl">
        I&apos;m a big fan of <strong
          >progressive enhancement and graceful degradation</strong
        > and I always try to make my websites as accessible as possible♿.
      </p>
      <p class="max-w-xl">
        Reaching a professional level in both <strong>SEO🔍</strong> and <strong
          >performance⚡</strong
        > is the key for a successful digital project.
      </p>
      <section id="cards">
        <ul class="sticked-cards">
          <li class="card" id="card_1">
            <Image
              alt="A preview of the performance stats in my technical blog"
              src={exampleAnimated}
              decoding="async"
              loading="lazy"
              width={1280}
              height={1000}
            />
          </li>
          <li class="card" id="card_2">
            <Image
              alt="A preview of the performance stats in my portfolio"
              src={examplePortfolio}
              decoding="async"
              loading="lazy"
              width={1280}
              height={1000}
            />
          </li>
          <li class="card" id="card_3">
            <Image
              alt="A preview of the performance stats in my technical blog"
              src={exampleBlog}
              decoding="async"
              loading="lazy"
              width={1280}
              height={1000}
            />
          </li>
          <li id="card_4" class="card">
            <Image
              alt="A preview of the performance stats in my technical blog"
              src={exampleFlags}
              decoding="async"
              loading="lazy"
              width={1280}
              height={1000}
            />
          </li>
        </ul>
      </section>

      <small>My lastest websites are good examples of this</small>
    </main>
  </section>
</MainLayout>
