---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Layout/footer/footer.astro";
import MobileNavbar from "../components/Layout/header/mobile-navbar.astro";
import Navbar from "../components/Layout/header/navbar.astro";
import "@polgubau/astro-reveal/styles";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article" | "profile";
  publishedTime?: string;
  modifiedTime?: string;
  author?: string;
  className?: string;
  tags?: string[];
}

const {
  title,
  description,
  image,
  type,
  publishedTime,
  modifiedTime,
  author,
  tags,
  className,
} = Astro.props;
---

<html lang="en" dir="ltr" class={"w-full overflow-x-hidden"}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      author={author}
      tags={tags}
    />
  </head>
  <body>
    <main class="flex min-h-screen w-full">
      <div id="progress"></div>

      <div
        class:list={[
          "flex w-full max-w-5xl flex-auto flex-col px-4 md:mx-auto md:px-10",
          className,
        ]}
      >
        <Navbar />
        <slot />
        <Footer />
        <MobileNavbar />
      </div>
    </main>
    <script>
      import "@polgubau/astro-reveal";
      import mediumZoom from "medium-zoom";
      mediumZoom(".prose img, [data-zoom]", {
        margin: 16,
        background: "rgba(0,0,0,0.75)",
      });
    </script>
  </body>
</html>
