---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Layout/footer/footer.astro";
import MobileNavbar from "../components/Layout/header/mobile-navbar.astro";
import Navbar from "../components/Layout/header/navbar.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article" | "profile";
  publishedTime?: string;
  modifiedTime?: string;
  author?: string;
  tags?: string[];
}

const {
  title,
  description,
  image,
  type,
  publishedTime,
  modifiedTime,
  author,
  tags,
} = Astro.props;
---

<html lang="en" dir="ltr" class={"w-full overflow-x-hidden"}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      author={author}
      tags={tags}
    />
  </head>
  <body>
    <div id="progress"></div>

    <!-- Navigation -->
    <div class="max-md:hidden">
      <Navbar />
    </div>

    <!-- Main Content -->
    <main class="min-h-screen w-full">
      <div class="mx-auto w-full max-w-5xl px-4 md:px-10">
        <slot />
      </div>
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Mobile Navigation -->
    <MobileNavbar />
  </body>
</html>
